* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: blue;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

li {
    align-items: center;

}